<div class="container section" style="max-width: 480px;">
  <h1 class="text-center">Create account</h1>
  {%- form 'create_customer', class: 'form' -%}
    {{ form.errors | default_errors }}
    <div class="field"><label for="FirstName">First name</label><input type="text" name="customer[first_name]" id="FirstName" autocomplete="given-name"></div>
    <div class="field"><label for="LastName">Last name</label><input type="text" name="customer[last_name]" id="LastName" autocomplete="family-name"></div>
    <div class="field"><label for="Email">Email</label><input type="email" name="customer[email]" id="Email" autocomplete="email" required></div>
    <div class="field"><label for="Password">Password</label><input type="password" name="customer[password]" id="Password" autocomplete="new-password" required></div>
    <button type="submit" class="btn">Create</button>
  {%- endform -%}
</div>
{% schema %}{ "name": "Register", "settings": [] }{% endschema %}
