{%- if paginate.pages > 1 -%}
<nav class="pagination" role="navigation" aria-label="pagination">
  {%- if paginate.previous -%}
    <a href="{{ paginate.previous.url }}" rel="prev" class="btn btn--outline btn--small">Previous</a>
  {%- endif -%}
  <span class="muted" style="margin: 0 16px;">Page {{ paginate.current_page }} of {{ paginate.pages }}</span>
  {%- if paginate.next -%}
    <a href="{{ paginate.next.url }}" rel="next" class="btn btn--outline btn--small">Next</a>
  {%- endif -%}
</nav>
{%- endif -%}
