{%- comment -%} render 'price', product: product OR variant: variant {%- endcomment -%}
{%- if variant -%}
  {%- assign target = variant -%}
{%- elsif product -%}
  {%- assign target = product.selected_or_first_available_variant -%}
{%- endif -%}
{%- if target -%}
  {%- if target.compare_at_price > target.price -%}
    <span class="price">{{ target.price | money }}</span>
    <s>{{ target.compare_at_price | money }}</s>
  {%- else -%}
    <span class="price">{{ target.price | money }}</span>
  {%- endif -%}
{%- elsif product -%}
  {%- if product.price_varies -%}From {%- endif -%} {{ product.price_min | money }}
{%- endif -%}
